* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Akrobat";
    max-width: 1920px;
}

.bodyWrap {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.headerLoc {
    display: inline-block;
    margin: 15px 0px 0px 150px;
}

.loginReg {
    display: inline-block;
    margin: 15px 0px 0px 85px;
}

.lang {
    display: inline-block;
    margin: 15px 0px 0px 60px;
}


header .roundClock {
    display: inline-block;
    font-size: 17px;
    line-height: 24px;
    color: #a3a3a3;
    padding-left: 22px;
}

header [class*="icon"] {
    padding-right: 10px;
}

header .headerLoc a {
    font-size: 17px;
    line-height: 24px;
    color: #a3a3a3;
    text-decoration: none;
}

header .loginReg a {
    font-size: 15px;
    line-height: 24px;
    color: #00acf2;
    text-decoration: none;
    padding-right: 20px;
}

.logMenu {
    float: left;
    width: 100%;
}

.logo {
    float: left;
    width: 35%;
    margin: 45px 0px 40px;
}

.logo .textLogo {
    display: inline-block;
}

.headerMenu {
    float: left;
    width: 65%;
}

.logo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.textLogo > span {
    display: block;
    margin-top: 10px;
}

.logo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #191919;
    font-weight: 800;
}

.logo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

.headerMenu {
    margin: 75px 0px 0px;
}

.headerMenu li {
    display: inline-block;
}

.headerMenu li + li {
    margin-left: 50px;
}

.headerMenu a {
    font-size: 17px;
    color: #191919;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

header [class*="icon"] {
    color: #1d1d1d;
    font-size: 15px;
}

.bredcrumds li {
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #ffcd20;
    padding: 140px 15px 20px 0px;
}

.bredcrumds li:nth-child(2),
.bredcrumds li:nth-child(4) {
    color: #ffffff;
}

.bredcrumds li a {
    text-decoration: none;
    color: #ffffff;
}

.logoSlider {
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}

.logoSlider .company span {
    font-size: 27px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.company {
    padding-top: 230px;
}

.compSlider {
    font-size: 121px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.company .compSlider span {
    font-size: 121px;
    color: #00acf2;
    text-transform: uppercase;
    font-weight: 800;
}

.company a {
    font-size: 21px;
    line-height: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    width: 270px;
    background-color: #00acf2;
    text-decoration: none;
    margin: 60px 0px 185px;
}

.aboutUs {
    background-position: 50% 50%;
    background-size: cover;
    float: left;
    width: 100%;
    padding: 150px 0px;
}

.logoCompany {
    float: left;
    width: 50%;
}

.logoCompany .caption2 {
    font-size: 55px;
    line-height: 61px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 800;
}

.logoCompany h2 {
    font-size: 90px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 75px;
}

.textBlock1 {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.btnColor2 {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 3px solid #ffffff;
}

.infoCompany {
    float: left;
    width: 50%;
}

.infoCompany a {
    display: inline-block;
    font-size: 19px;
    line-height: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    width: 210px;
    border: 3px solid #ffffff;
    margin-top: 60px;
}

.statistics {
    float: left;
    width: 100%;
}

.stat {
    margin: 130px 0px;
}

.typesStat {
    width: 25%;
    float: left;
}

.stat .typesStat [class*="icon"] {
    fill: #00adf1;
    position: absolute;
    top: 0;
    left: 0;
}

.statistics span {
    font-size: 55px;
    line-height: 69px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 800;
}

.typesStat .typ1 {
    display: inline-block;
    padding-left: 60px;
}

.typ1 > span {
    display: block;
}

.stat .typesStat {
    position: relative;
}

.statistics .textStat {
    font-size: 17px;
    line-height: 69px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 600;
}

.statistics [class*="icon"] {
    color: #00adf1;
    font-size: 50px;

}

.caption2 {
    font-size: 55px;
    line-height: 61px;
    font-weight: 800;
    text-transform: uppercase;
}

.ourService {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 150px 0px 185px;
}

.leftServ {
    float: left;
    width: 40%;
}

.rightServ {
    float: left;
    width: 60%;
}

.titleServ h2 {
    color: #ffffff;
}

.typServ {
    margin-top: 95px;
}

.menuServ img[src*=img] {
    margin: 15px 10px 15px 12px;
}

.menuServ span {
    display: inline-block;
    background-color: rgba(30, 51, 70, 0.77);
    width: 70px;
    height: 72px;
    vertical-align: top;
}

.menuServ li {
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.menuServ li a {
    font-size: 23px;
    line-height: 70px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    border: 1px solid #4f6275;
    width: 320px;
    text-align: center;
}

.nameServ h2 {
    color: #ffcd20;
}

.nameServ p {
    margin-top: 55px;
}

.caption3 {
    font-size: 41px;
    line-height: 61px;
    font-weight: 800;
    text-transform: uppercase;
}

.nameAct .titleAct {
    margin-top: 60px;
}

.nameAct h3 {
    color: #00b7ff;
}

.activeSlide {
    float: left;
    width: 100%;
    margin: 60px -15px 0px;
}

.slideCard {
    padding: 0px 15px;
    float: left;
    width: 50%;
}

.card {
    position: relative;
    padding: 15px;
    background-color: rgba(37, 48, 60, 0.77);
}

.card .icon-clock1 {
    padding-right: 10px;
}

.card > img {
    width: 100%;
    height: 200px;
}

.card .cardColor1 {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 140px;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #ffcd20;
    padding: 0px 5px;
}

.card .cardColor2 {
    font-size: 15px;
    line-height: 20px;
    color: #888f94;
}

.card .cardColor3 {
    font-size: 19px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
}

.card .cardColor4 {
    font-size: 15px;
    color: #021120;
    padding-right: 20px;
}

.card .cardColor5 {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 140px;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #00b7ff;
    padding: 0px 5px;
}

.card .cardColor6 {
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 20px;
}

.menuCard li {
    font-size: 17px;
    line-height: 55px;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid #ffffff;
}

.btnColor3 {
    font-size: 19px;
    line-height: 55px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #00adf1;
    text-align: center;
    border: 3px solid #00adf1;
}

.btnColor4 {
    font-size: 19px;
    line-height: 55px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffcd20;
    text-align: center;
    border: 3px solid #ffcd20;
}

.card .cardButt a {
    width: 140px;
}

.cardButt a:first-child {
    margin-right: 7px;
}

.profit {
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    padding: 160px 0px 140px;
}

.leftCalc {
    float: left;
    width: 70%;
}

.rightCalc {
    float: left;
    width: 30%;
}

.form1 label {
    display: block;
    font-size: 18px;
    line-height: 55px;
    color: #191919;
}

.field img[src*="img"] {
    margin: 12px 15px 15px 10px;
}

.field:first-child span {
    background-color: #00adf1;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.field {
    position: relative;
}

.formCalc .field input {
    width: 100%;
    height: 40px;
}

.rightCalc .field:nth-child(2) span,
.rightCalc .field:nth-child(3) span,
.rightCalc .field:nth-child(4) span {
    position: absolute;
    display: block;
    right: 15px;
    bottom: 10px;
    font-size: 21px;
    font-weight: bold;
}

.invest a {
    display: inline-block;
    font-size: 19px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: #00adf1;
    width: 100%;
    margin-top: 45px;
}

.advantages {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 145px 0px 170px;
}


.typAdv {
    float: left;
    width: 41%;
    margin-top: 100px;
}

.adv {
    margin: 0px 50px 65px 0px;
}

.adv img[src*="box"] {
    margin: 15px 15px 15px 15px;
}

.adv img[src*="clock"] {
    margin: 15px 15px 15px 8px;
}

.adv img[src*="world"] {
    margin: 13px 15px 0px 9px;
}

.adv > span {
    background-color: #ffcd20;
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
}

.adv .typ2 {
    display: inline-block;
    vertical-align: top;
}

.typ2 > span {
    position: relative;
    display: block;
    padding-left: 90px;
}

.caption5 {
    font-size: 19px;
    color: #00adf1;
    text-transform: uppercase;
    font-weight: 800;
}

.textBlock2 {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    color: #191919;
}

.guarantees {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.leftGuar {
    float: left;
    width: 50%;
}

.rightGuar {
    float: left;
    width: 50%;
    padding-left: 90px;
}

.caption6 {
    font-size: 33px;
    line-height: 61px;
    text-transform: uppercase;
    font-weight: 800;
}

.guarantees h3 {
    color: #ffffff;
}

.affProg {
    padding: 120px 130px 80px 0px;
}

.affProg p {
    margin-top: 80px;
}

.affProg a {
    margin-top: 75px;
}

.depIns {
    padding: 120px 40px 80px 0px;
}

.depIns p {
    margin-top: 80px;
}

.depIns a {
    margin-top: 75px;
}


.leftGuar .btnColor2 {
    width: 165px;
}

.rightGuar .btnColor4 {
    width: 165px;
}

.ourNews {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.titleOurNews {
    text-align: center;
    padding-top: 150px;
}

.cardNews1 {
    float: left;
    width: 33%;
    padding-top: 90px;
}

.cardNews1 a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
}

.cardNews1 img {
    width: 365px;
    height: 200px;
    margin: 30px 0px;
}

.allNews {
    text-align: center;
}

.allNews a {
    width: 205px;
    margin: 120px 0px;
}

.reviews {
    background-position: 50% 50%;
    background-size: cover;
}

.titleRev h3 {
    color: #ffffff;
    text-align: center;
}

.slideRev {
    text-align: center;
}

.client {
    padding-top: 65px;
}

.client span {
    display: block;
}

.slideRev .clients {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffcd20;
    text-align: center;
    padding-top: 35px;
}

.slideRev span:last-child {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.payments {
    padding: 115px 0px;
}

footer {
    background-color: #0a1826;
    padding: 120px 0px 70px;
}

.caption4 {
    font-size: 23px;
    line-height: 61px;
    text-transform: uppercase;
    font-weight: 800;
}

footer h4 {
    color: #ffffff;
}

.textBlock3 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #a3a3a3;
}

.footBlock1 {
    display: table;
    height: 350px;
    width: 100%;
    text-align: left;
}

.footBlock1 .footBlock2 {
    display: table-row;
}

.footBlock1 .tab {
    display: table-cell;
}

.footMenu img {
    width: 40px;
    height: 40px;
    margin: 0px 5px 10px 5px;
}

.footMenu img[src*="train"] {
    margin: 3px 5px 5px 7px;
}

.footMenu img[src*="car"] {
    margin: 3px 5px 5px 7px;
}

.footMenu img[src*="ship"] {
    margin: 1px 10px 5px 5px;
}

.footMenu img[src*="aircraft"] {
    margin: 3px 5px 5px 3px;
}

.footMenu li {
    padding: 10px 0px;
}

.footMenu li a {
    margin: -10px 0px;
}

.footMenu li a {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00acf2;
    text-decoration: none;
    width: 180px;
}

.footMenu span {
    display: inline-block;
    background-color: rgba(37, 49, 62, 0.89);
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
}

.link1 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #a3a3a3;
    text-decoration: none;
}

.footCont [class*="icon"] {
    font-size: 20px;
    color: #ffffff;
}

.footCont .icon-message {
    font-size: 15px;
}

.link2 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #00a9f1;
    text-decoration: none;
}

.footCont span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #a3a3a3;
}

.footCont [class*="icon"] {
    padding-right: 15px;
}

.footLogo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.footLogo span + span {
    display: block;

}

.footLogo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 800;
}

.footLogo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

.footLogo .textLogo {
    display: inline-block;
}

.copyright {
    display: inline-block;
}

.social {
    display: inline-block;
}

.social [class*=icon] {
    padding-right: 25px;
}

footer .logo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #191919;
    font-weight: 800;
}

footer .logo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

footer .logo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.copyright span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #5a6062;
}

.social [class*="icon"] {
    font-size: 20px;
    color: #00acf2;
    text-decoration: none;
}

.aboutCompany {
    text-align: center;
    padding-top: 140px;
}

.caption1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.aboutCompany .caption1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    width: 515px;
    margin: 0px 325px;
}

.history {
    float: left;
    width: 100%;
    padding-top: 150px;
}

.hist {
    float: left;
    width: 50%;
}

.hist2 {
    float: left;
    width: 100%;
    padding: 30px 0px 150px;
}

.historyComp .hist img {
    width: 570px;
    height: 380px;
    margin-top: 96px;
}

.providedServ {
    float: left;
    width: 100%;
    padding: 145px 0px;
    background-position: 50% 50%;
    background-size: cover;
}

.titleProv h3 {
    color: #ffffff;
    text-align: center;
}

.typService {
    margin: 150px -15px;
    vertical-align: middle;
}

.typService li {
    display: block;
    float: left;
    width: 25%;
    padding: 0px 15px;
    text-align: center;

}

.typService li a {
    display: block;
    font-size: 19px;
    line-height: 98px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: #00b7ff;
    border: 2px solid #3d4f5e;
    height: 255px;
    padding-top: 50px;
}

.typService li a span {
    display: block;
}

.ourAdvantages {
    padding: 150px 0px;
}

.titlAdvan {
    text-align: center;
}

.ourAdvan {
    float: left;
    width: 100%;
    padding-top: 135px;
}

.advan1 img[src*="box"] {
    margin: 15px 15px 15px 15px;
}

.advan1 img[src*="clock"] {
    margin: 15px 15px 15px 8px;
}

.advan1 img[src*="world"] {
    margin: 13px 15px 0px 9px;
}

.ourAdvan .advan1 {
    float: left;
    width: 25%;
}

.ourAdvan .advan1 {
    position: relative;
}

.typAdvan1 > span {
    padding-top: 115px;
    display: block;
}

.typAdvan1 {
    text-align: center;
}

.ourAdvan .advan1 > span {
    background-color: #ffcd20;
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 105px;
}


.executives {
    float: left;
    width: 100%;
    padding: 150px 0px 150px;
}

.exec1 {
    float: left;
    width: 50%;
}

.exec1 img {
    padding-top: 115px;
}

.exec2 {
    float: left;
    width: 50%;
}

.employees {
    margin: 75px 0px 150px;
}

.employees li {
    float: left;
    width: 33%;
    height: 300px;
    background-color: #f0f4f6;
    vertical-align: top;

}

.employees li p {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    padding: 40px 0px 0px 25px;
}

.textBlock4 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

.employees ul {
    position: relative;
    display: block;
}

.typEmpl {
    display: block;
    padding: 40px 70px 0px 150px;
}

.employees ul li img {
    position: absolute;
    left: 25px;
    top: 25px;
}

.entrance {
    float: left;
    width: 100%;
}

.leftEntrance {
    float: left;
    width: 30%;
    padding-left: 70px;
}

.imgEntrance {
    float: left;
    width: 70%;
}

.titleEntrance {
    margin-top: 240px;
}

.leftEntrance .logo {
    width: 100%;
}

.formEntrance {
    margin-top: 130px;
}

.formEntrance .field input {
    height: 40px;
    width: 350px;
}

.btnEntr {
    padding-top: 45px;
}

.btnEntr .btnColor3 {
    width: 350px;
    background: transparent;
}

.forgotPass {
    margin-top: 65px;
}

.forgotPass > a:nth-child(1),
.forgotPass > a:nth-child(2) {
    display: block;
    margin-bottom: 45px;
}

.forgotPass span {
    font-family: Roboto;
    font-size: 13px;
    line-height: 30px;
    font-weight: 800;
}

.checkin {
    float: left;
    width: 100%;
}

.form1>label {
    font-family: Roboto;
    font-size: 13px;
    line-height: 30px;

}

.form1>label a {
    font-family: Roboto;
    font-size: 13px;
    line-height: 30px;
    color: #00a9f1;
}

.form1 label {
    display: inline-block;
}


