* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Akrobat";
    max-width: 1920px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

header .roundClock {
    font-size: 17px;
    line-height: 24px;
    color: #a3a3a3;
}

header .headerLoc a {
    font-size: 17px;
    line-height: 24px;
    color: #a3a3a3;
    text-decoration: none;
}

header .loginReg a {
    font-size: 15px;
    line-height: 24px;
    color: #00acf2;
    text-decoration: none;
}

.logMenu {
    float: left;
    width: 100%;
}

.logo {
    float: left;
    width: 315px;
}

header .logo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

header .logo span+span {
    display: block;
    text-align: center;
}

header .logo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #191919;
    font-weight: 800;
}

header .logo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}


.logMenu .headerMenu {
    float: right;
    text-align: center;
}

.headerMenu li {
    display: inline-block;
    padding: 0px 22px;
}

.headerMenu a {
    font-size: 17px;
    line-height: 15px;
    color: #191919;
    text-decoration: none;
    font-weight: bold;

}

header [class*="icon"] {
    color: #1d1d1d;
    font-size: 15px;
}

.bredcrumds li {
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #ffcd20;
}

.bredcrumds li a {
    text-decoration: none;
    color: #999999
}

.logoSlider {
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}

.logoSlider .company span {
    font-size: 27px;
    line-height: 130px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.compSlider {
    font-size: 121px;
    line-height: 130px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.company .compSlider span {
    font-size: 121px;
    line-height: 130px;
    color: #00acf2;
    text-transform: uppercase;
    font-weight: 800;
}

.company a {
    font-size: 21px;
    line-height: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    width: 270px;
    background-color: #00acf2;
    text-decoration: none;
}

.aboutUs {
    background-position: 50% 50%;
    background-size: cover;
    float: left;
    width: 100%;
    padding: 150px 0px;
}

.logoCompany {
    float: left;
    width: 50%;
}

.logoCompany .caption2 {
    font-size: 55px;
    line-height: 61px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 800;
}

.logoCompany h2 {
    font-size: 90px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 75px;
}

.textBlock1 {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.btnColor2 {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 3px solid #ffffff;
}

.infoCompany {
    float: left;
    width: 50%;
}

.infoCompany a {
    display: inline-block;
    font-size: 19px;
    line-height: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    width: 210px;
    border: 3px solid #ffffff;
    margin-top: 60px;
}

.statistics {
    float: left;
    width: 100%;
}

.typesStat {

    width: 25%;
    float: left;
}

.typesStat [class*="icon"] {
    color: #00adf1;
}

.statistics span {
    font-size: 55px;
    line-height: 69px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 800;
}

.typesStat > span {
    display: block;
}

.statistics .textStat {
    font-size: 17px;
    line-height: 69px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 600;
}

.statistics [class*="icon"] {
    color: #00adf1;
    font-size: 50px;

}

.caption2 {
    font-size: 55px;
    line-height: 61px;
    font-weight: 800;
    text-transform: uppercase;
}

.ourService {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.leftServ {
    float: left;
    width: 40%;
}

.rightServ {
    float: left;
    width: 60%;
}

.titleServ h2 {
    color: #191919;
}

.typServ {
    margin-top: 95px;
}

.menuServ span img[src*="png"] {
    background-color: #36414b;
    width: 70px;
    height: 70px;
}

.menuServ li {
    font-weight: 800;
    text-transform: uppercase;
    vertical-align: bottom;
}

.menuServ li a {
    font-size: 23px;
    line-height: 75px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    border: 1px solid #4f6275;
    width: 320px;
}

.nameServ h2 {
    color: #ffcd20;
}

.nameServ p {
    margin-top: 55px;
}

.caption3 {
    font-size: 41px;
    line-height: 61px;
    font-weight: 800;
    text-transform: uppercase;
}

.nameAct {
    margin-top: 60px;
}

.nameAct h3 {
    color: #00b7ff;
}

.activeSlide {
    float: left;
    width: 100%;
    margin-top: 60px;
}

.card {
    float: left;
    width: 50%;
    background-color: #232f3b;
}

.card > img {
    width: 100%;
    height: 200px;
    padding: 10px;
}

.card .cardColor1 {
    font-size: 19px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #ffcd20;
}

.card .cardColor2 {
    font-size: 15px;
    line-height: 20px;
    color: #888f94;
}

.card .cardColor3 {
    font-size: 19px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
}

.card .cardColor4 {
    font-size: 15px;
    line-height: 48px;
    color: #021120;

}

.card .cardColor5 {
    font-size: 19px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #00b7ff;
}

.infocard li {
    font-size: 17px;
    line-height: 55px;
    font-weight: 800;
    text-transform: uppercase;

}

.btnColor3 {
    font-size: 19px;
    line-height: 55px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #00adf1;
    text-align: center;
    border: 3px solid #00adf1;
}

.infocard li .btnColor3 {
    width: 140px;
}

.btnColor4 {
    font-size: 19px;
    line-height: 55px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffcd20;
    text-align: center;
    border: 3px solid #ffcd20;
}


.infocard li .btnColor4 {
    width: 140px;
}

.profit {
    float: left;
    width: 100%;
}

.leftCalc {
    float: left;
    width: 75%;
}

.rightCalc {
    float: left;
    width: 25%;
}

.totalCalc {
    background-repeat: no-repeat;
}

.form1 label {
    display: block;
    font-size: 18px;
    line-height: 55px;
    color: #191919;
}

.field {
    position: relative;
}

.field img {
    background-color: #00adf1;
}

.field input {
    width: 100%;
}

.invest a {
    display: inline-block;
    font-size: 19px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: #00adf1;
    width: 100%;
}

.advantages {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.typAdv {
    float: left;
    width: 33%;
}

.typAdv1 {
    float: left;
    width: 33%;
}

.adv {
    vertical-align: top;
    display: inline-block;
}


.adv img[src*="png"] {
    background-color: #ffcd20;
    font-size: 75px;
    width: 70px;
    height: 70px;
}


.caption5 {
    font-size: 19px;
    line-height: 55px;
    color: #00adf1;
    text-transform: uppercase;
    font-weight: 800;
}

.textBlock2 {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    color: #191919;
}

.guarantees {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.leftGuar {
    float: left;
    width: 50%;
}

.rightGuar {
    float: left;
    width: 50%;
    padding-left: 90px;
}

.caption6 {
    font-size: 33px;
    line-height: 61px;
    text-transform: uppercase;
    font-weight: 800;
}

.guarantees h3 {
    color: #ffffff;
}

.affProg {
    padding: 120px 130px 80px 0px;
}

.affProg p {
    margin-top: 80px;
}

.affProg a {
    margin-top: 75px;
}

.depIns {
    padding: 120px 40px 80px 0px;
}

.depIns p {
    margin-top: 80px;
}

.depIns a {
    margin-top: 75px;
}


.leftGuar .btnColor2 {
    width: 165px;
}

.rightGuar .btnColor4 {
    width: 165px;
}

.ourNews {
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.titleOurNews {
    text-align: center;
    padding-top: 150px;
}

.cardNews1 {
    float: left;
    width: 33%;
    padding-top: 90px;
}

.cardNews1 a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
}

.cardNews1 img {
    width: 365px;
    height: 200px;
    margin: 30px 0px;
}

.allNews {
    text-align: center;

}

.allNews a {
    width: 205px;
    margin: 120px 0px;
}

.reviews {
    background-position: 50% 50%;
    background-size: cover;
}

.titleRev {
    padding-top-top: 150px;
}

.titleRev h3 {
    color: #ffffff;
    text-align: center;
}

.slideRev {
    text-align: center;
}
.client {
    padding-top: 65px;
}

.client span {
    display: block;
}

.slideRev .clients {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffcd20;
    text-align: center;
    padding-top: 35px;
}

.slideRev span:last-child {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;

}

.payments {
}



footer {
    background-color: #0a1826;
}

.caption4 {
    font-size: 23px;
    line-height: 61px;
    text-transform: uppercase;
    font-weight: 800;
}

footer h4 {
    color: #ffffff;
}

.textBlock3 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #a3a3a3;
}

.footBlock1 {
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.footServ {
    display: inline-block;
    margin-right: 40px;
}

.footCom {
    display: inline-block;
    margin-right: 40px;
}

.footCont {
    display: inline-block;
}

.footMenu img {
    background-color: #25313e;
}

.footMenu li a {
    font-size: 18px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00acf2;
    text-decoration: none;
}

.link1 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #a3a3a3;
    text-decoration: none;
}


.footCont [class*="icon"] {
    font-size: 20px;
    color: #ffffff;
}

.link2 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #00a9f1;
    text-decoration: none;
}

.footCont span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #a3a3a3;
}

.footLogo {
    display: inline-block;
}

.footLogo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.footLogo span+span {
    display: block;
    text-align: right;
}

.footLogo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 800;
}

.footLogo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

.copyright {
    display: inline-block;
}

.social {
    display: inline-block;
}

footer .logo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #191919;
    font-weight: 800;
}

footer .logo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

footer .logo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.copyright span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #5a6062;
}

.social [class*="icon"] {
    font-size: 20px;
    color: #00acf2;
    text-decoration: none;
}