*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Akrobat";
    max-width: 1920px;
}

.bodyWrap {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover,
button:hover {
    opacity: 0.7;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.logMenu .invisLink > a {
    width: 70%;
}

.headerLoc {
    display: inline-block;
    margin: 15px 0px 0px 150px;
}

.loginReg {
    display: inline-block;
    margin: 15px 0px 0px 70px;
}

.lang {
    display: inline-block;
    margin: 15px 0px 0px 30px;
    position: relative;
}

.lang span {
    padding-left: 5px;
}

header .lang:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #333333;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: 0px;
    transition: all 0.3s;
}

header .roundClock {
    display: inline-block;
    font-size: 17px;
    line-height: 24px;
    color: #a3a3a3;
    padding-left: 22px;
}

/*header .clock {*/
    /*padding: 0 10px;*/
    /*display: inline-block;*/
/*}*/

/*header .date {*/
    /*display: inline-block;*/
    /*font-size: 14px;*/
    /*line-height: 30px;*/
    /*color: #bec6d1;*/
/*}*/

/*header .time {*/
    /*display: inline-block;*/
    /*font-size: 32px;*/
    /*font-weight: 800;*/
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
/*}*/

header [class*="icon"] {
    padding-right: 10px;
}

header .headerLoc a {
    font-size: 17px;
    line-height: 24px;
    color: #a3a3a3;
    text-decoration: none;
}

header .loginReg a {
    font-size: 15px;
    line-height: 24px;
    color: #00acf2;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    padding-right: 20px;
}

.logMenu {
    float: left;
    width: 100%;
}

.logo {
    float: left;
    width: 35%;
    margin: 45px 0px 40px;
}

.logo .textLogo {
    display: inline-block;
}

.headerMenu {
    float: left;
    width: 65%;
}

.logo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.textLogo > span {
    display: block;
    margin-top: 10px;
}

.logo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #191919;
    font-weight: 800;
}

.logo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

.headerMenu {
    margin: 75px 0px 0px;
}

.headerMenu li {
    display: inline-block;
    height: 80px;
}

.roundClock .icon-clock1 {
    position: relative;
    width: 5em;
    height: 5em;
    margin-right: 10px;
    border: 2px solid #282828;
    border-radius: 50%;
    font-size: 11px;
}

.roundClock .icon-clock1:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 5px;
    left: 5px;
    top: 5px;
    background: #282828;
    animation: timing 30s infinite steps(60);
    transform-origin: 0 0;
}

@keyframes timing {
    100%{
        transform: rotate(360deg);
    }
}

.headerMenu li + li {
    margin-left: 50px;
}
.headerMenu .active {
    border-bottom: 3px solid #00acf2;
    color: #00acf2;
}


.headerMenu a {
    cursor: pointer;
    font-size: 17px;
    color: #191919;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    display: block;
    height: 100%;
}

header [class*="icon"] {
    color: #1d1d1d;
    font-size: 15px;
}

.bredcrumds li {
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #ffcd20;
    padding: 140px 15px 20px 0px;
}

.bredcrumds li:nth-child(2),
.bredcrumds li:nth-child(4) {
    color: #ffffff;
}

.bredcrumds li a {
    text-decoration: none;
    color: #ffffff;
}

.logoSlider {
    background-position: center;
    background-size: cover;
    text-align: center;
}

.logoSlider .company span {
    font-size: 27px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.company {
    padding-top: 230px;
    position: relative;
}

.companySlider::before {
    content: '';
    display: block;
    height: 234px;
    width: 657px;
    background-image: url(../img/png/borderAboutUs.png);
    bacbackground-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 245px;
    left: 255px;
    z-index: 0;
}

.compSlider {
    font-size: 121px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.company .compSlider span {
    font-size: 121px;
    color: #00acf2;
    text-transform: uppercase;
    font-weight: 800;
}

.company a {
    position: relative;
    font-size: 21px;
    line-height: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    width: 270px;
    background-color: #00acf2;
    text-decoration: none;
    margin: 40px 0px 185px;
    z-index: 1;
}

.company a:hover {
    opacity: 1;
    background-color: #ffcd20;
}

.aboutUs {
    background-position: 50% 50%;
    background-size: cover;
    padding: 120px 0px 120px;
    position: relative;
}

.aboutUs::before {
    content: '';
    display: block;
    height: 88px;
    width: 2px;
    background-color: #54c6f6;
    position: absolute;
    bottom: 0;
    left: 650px;
}


.logoCompany {
    float: left;
    width: 40%;
}

.logoCompany .caption2 {
    font-size: 55px;
    line-height: 61px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.logoCompany .caption2::before {
    content: '';
    display: block;
    height: 2px;
    width: 81px;
    background-color: #54c6f6;
    position: absolute;
    bottom: -40px;
    left: 0px;
}

.logoCompany h2 {
    font-size: 90px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 75px;
}

.textBlock1 {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.btnColor2 {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 3px solid #ffffff;
}

.btnColor2:hover {
    color: #ffcd20;
    opacity: 1;
}

.infoCompany {
    float: left;
    width: 60%;
    padding: 10px;
}

.infoCompany a {
    width: 210px;
    margin-top: 60px;
}

.statistics {
    padding: 130px 0px 100px;
}

.typesStat {
    width: 25%;
    float: left;
}

.stat .typesStat img[src*="img"] {
    fill: #00adf1;
    position: absolute;
    top: 15px;
    left: 0;
}

.stat .typesStat {
    position: relative;
}

.stat .typesStat::before {
    content: '';
    display: block;
    height: 3px;
    width: 55px;
    background-color: #ffcd20;
    position: absolute;
    top: 80px;
    left: 60px;
}

.statistics span {
    font-size: 55px;
    line-height: 69px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 800;
}

.typesStat .typ1 {
    display: inline-block;
    padding-left: 60px;
}

.typ1 > span {
    display: block;
}

.stat .typesStat {
    position: relative;
}

.statistics .textStat {
    font-size: 17px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 15px;
}

.statistics [class*="icon"] {
    color: #00adf1;
    font-size: 50px;

}

.caption2 {
    font-size: 55px;
    line-height: 61px;
    font-weight: 800;
    text-transform: uppercase;
}

.ourService {
    background-position: 50% 50%;
    background-size: cover;
    padding: 135px 0px 175px;
    position: relative;
}

.ourService::before {
    content: '';
    display: block;
    height: 88px;
    width: 2px;
    background-color: #5f6e7e;
    position: absolute;
    top: 0;
    left: 650px;
}

.leftServ {
    float: left;
    width: 40%;
}

.rightServ {
    float: left;
    width: 60%;
}

.titleServ h2 {
    color: #ffffff;
}

.typServ {
    margin-top: 80px;
}

.menuServ span {
    display: inline-block;
    width: 70px;
    height: 72px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: bottom;
}

.menuServ li {
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}

.menuServ li a + a {
    font-size: 23px;
    line-height: 70px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    border: 1px solid #4f6275;
    width: 320px;
    text-align: center;
    margin-left: 70px;
}

.menuServ li a[style*="image"] {
    display: block;
    height: 72px;
    width: 70px;
    background-color: rgba(30, 51, 70, 0.77);
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    background-position: center;
}

.menuServ li:hover a {
    color: #ffcd20;
    opacity: 1;
}

.menuServ li:hover a[style*="image"] {
    background-color: #ffcd20;
}

.nameServ h2 {
    color: #ffcd20;
}

.nameServ p {
    margin-top: 35px;
}

.caption3 {
    font-size: 41px;
    line-height: 61px;
    font-weight: 800;
    text-transform: uppercase;
}

.nameAct .titleAct {
    margin-top: 40px;
}

.nameAct h3 {
    color: #00b7ff;
}

.activeSlide {
    margin: 40px -15px 0px;
}

.slideCard {
    padding: 0px 15px;
    float: left;
    width: 50%;
}

.card {
    position: relative;
    padding: 15px;
    background-color: rgba(37, 48, 60, 0.77);
}

.card .icon-clock1 {
    padding-right: 10px;
    color: #000000;
}

.card .icon-precent {
    padding-right: 10px;
    color: #ffffff;
}

.card > img {
    width: 100%;
    height: 200px;
}

.card .cardColor1 {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 140px;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #ffcd20;
    padding: 0px 5px;
}

.card .cardColor2 {
    font-size: 15px;
    line-height: 20px;
    color: #888f94;
}

.card .cardColor3 {
    font-size: 19px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
}

.card .cardColor4 {
    font-size: 15px;
    color: #021120;
    padding-right: 20px;
}

.card .cardColor5 {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 140px;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #00b7ff;
    padding: 0px 5px;
}

.card .cardColor6 {
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 20px;
}

.menuCard {
    display: table;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
}

.menuCard .liCard:first-child {
    border-right: 1px solid #ffffff;;
}

.menuCard1 {
    display: table-row;
}

.menuCard1 .liCard {
    border-top: 1px solid #ffffff;
}

.menuCard1 .liCard:first-child {
    border-right: 1px solid #ffffff;;
}

.liCard {
    position: relative;
    display: table-cell;
    height: 65px;
    padding: 7px 0px 0px 30px;
}

.liCard [class*="icon"] {
    color: #ffffff
}

.liCard img {
    position: absolute;
    top: 8px;
    left: 8px;
}

.liCard [class*="icon"] {
    position: absolute;
    top: 8px;
    left: 8px;
}

.liCard > span {
    display: block;
}

.btnColor3 {
    font-size: 19px;
    line-height: 55px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #00adf1;
    text-align: center;
    border: 3px solid #00adf1;
}

.btnColor3:hover {
    border: 3px solid #ffffff;
    color: #ffffff;
    opacity: 1;
}

.btnColor4 {
    font-size: 19px;
    line-height: 55px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffcd20;
    text-align: center;
    border: 3px solid #ffcd20;
}

.btnColor4:hover {
    border: 3px solid #ffffff;
    color: #ffffff;
    opacity: 1;
}

.card .cardButt a {
    width: 147px;
    margin-top: 10px;
}

.cardButt a:first-child {
    margin-right: 7px;
}

.profit {
    background-repeat: no-repeat;
    padding: 160px 0px 180px;
    background-position-y: 175px;
    background-position-x: -90px;
}

.leftCalc {
    float: left;
    width: 60%;
}

.rightCalc {
    float: left;
    width: 40%;
    padding-left: 60px;
}

.conclus {
    margin: 52px 0px 0px 500px;
}

.conclus span:first-child {
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
    color: #191919;
}

.conclus span:last-child {
    font-size: 67px;
    font-weight: 800;
    text-transform: uppercase;
    color: #191919;
    display: block;
    margin: 10px 0px 0px -10px;
}

.form1 label {
    display: block;
    font-size: 18px;
    line-height: 55px;
    color: #191919;
}

.field:first-child span {
    background-color: #00adf1;
    width: 70px;
    height: 70px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.field {
    position: relative;
}

.formCalc .field input {
    width: 100%;
    height: 40px;
}

.formCalc .field:first-child span + span {
    margin-left: 39px;
}

.formCalc .field:first-child a {
    display: block;
    width: 70px;
    height: 70px;
}

.rightCalc .field:nth-child(2) span,
.rightCalc .field:nth-child(3) span,
.rightCalc .field:nth-child(4) span {
    position: absolute;
    display: block;
    right: 15px;
    bottom: 10px;
    font-size: 21px;
    font-weight: bold;
}

.invest a {
    display: inline-block;
    font-size: 19px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: #00adf1;
    width: 100%;
    margin-top: 45px;
}

.invest a:hover {
    border: 3px solid #ffcd20;
    color: #ffcd20;
    opacity: 1;
}

.advantages {
    background-position: 50% 50%;
    background-size: cover;
    padding: 145px 0px 110px;
}

.typAdv {
    float: left;
    width: 41%;
    margin-top: 80px;
}

.typAdv.adv:last-child > span {
    bottom: 0;
}


.adv {
    padding: 0px 30px 65px 0px;
    position: relative;
}

.adv > span {
    background-color: #ffcd20;
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    top: 6px;
    left: 0;
}

.adv .typ2 {
    display: inline-block;
    vertical-align: top;
}

.typ2 > span {
    display: block;
    padding-left: 90px;
}

.typ2 .textBlock2 {
    font-size: 14px;
    line-height: 20px;
}

.caption5 {
    font-size: 19px;
    color: #00adf1;
    text-transform: uppercase;
    font-weight: 800;
}

.textBlock2 {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    color: #191919;
}

.guarantees {
    background-position: 50% 50%;
    background-size: cover;
}

.leftGuar {
    float: left;
    width: 50%;
}

.rightGuar {
    float: left;
    width: 50%;
    padding-left: 90px;
}

.caption6 {
    font-size: 33px;
    line-height: 61px;
    text-transform: uppercase;
    font-weight: 800;
}


.guarantees h3 {
    color: #ffffff;
    position: relative;
}

.guarantees .affProg h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 81px;
    background-color: #ffffff;
    position: absolute;
    bottom: -30px;
    left: 0px;
}

.guarantees .depIns h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 81px;
    background-color: #ffcd20;
    position: absolute;
    bottom: -30px;
    left: 0px;
}


.affProg {
    padding: 85px 130px 80px 0px;
}

.affProg p {
    margin-top: 60px;
}

.affProg a {
    margin-top: 60px;
}

.depIns {
    padding: 85px 40px 80px 0px;
}

.depIns p {
    margin-top: 60px;
}

.depIns a {
    margin-top: 60px;
}


.leftGuar .btnColor2 {
    width: 165px;
}

.leftGuar .btnColor2:hover {
    color: #ffcd20;
    border: 3px solid #ffcd20;
}

.rightGuar .btnColor4 {
    width: 165px;
}

.ourNews {
    background-position: 50% 50%;
    background-size: cover;
}

.titleOurNews {
    text-align: center;
    padding-top: 130px;
    position: relative;
}

.titleOurNews h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 81px;
    background-color: #ffcd20;
    position: absolute;
    bottom: -30px;
    left: 540px;
}

.cardNews1 {
    float: left;
    width: 33.33333%;
    padding-top: 90px;
}

.cardNews1 a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
}

.cardNews1 img {
    width: 365px;
    height: 200px;
    margin: 20px 0px;
}

.allNews {
    text-align: center;
}

.allNews a {
    width: 205px;
    margin: 90px 0px;
}

.allNews a:hover {
    border: 3px solid #ffcd20;
    color: #ffcd20;
    opacity: 1;
}

.reviews {
    padding: 150px 0px 100px 0px;
    background-position: 50% 50%;
    background-size: cover;
}

.titleRev h3 {
    color: #ffffff;
    text-align: center;
    position: relative;
}

.titleRev h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 81px;
    background-color: #ffcd20;
    position: absolute;
    bottom: -30px;
    left: 540px;
}

.slideRev {
    margin-top: 110px;
    text-align: center;
}

.client {
    padding-top: 60px;
}

.client span {
    display: block;
}

.slideRev .clients {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffcd20;
    text-align: center;
    padding-top: 35px;
}

.slideRev span:last-child {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.geolocation .map {
    position: relative;
    height: 545px;
    width: 100%;
}

.geolocation .map iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.payments {
    padding: 115px 0px;
}

footer {
    background-color: #0a1826;
    padding: 80px 0px 70px;
}

.caption4 {
    font-size: 23px;
    line-height: 61px;
    text-transform: uppercase;
    font-weight: 800;
}

footer h4 {
    color: #ffffff;
}

.textBlock3 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #a3a3a3;
}

.footBlock1 {
    display: table;
    height: 350px;
    width: 100%;
    text-align: left;
}

.footBlock1 .footBlock2 {
    display: table-row;
}

.footBlock2 .tab {
    padding-top: 85px;
}

.footBlock1 .tab {
    display: table-cell;
    position: relative;

}

.footBlock1 > .tab::before {
    content: '';
    display: block;
    height: 3px;
    width: 55px;
    background-color: #ffcd20;
    position: absolute;
    top: 60px;
    left: 0px;
}

.tab .caption4 {
    padding-bottom: 35px;
}


.footMenu li {
    padding: 8px 0px;
}

.footMenu li a {
    margin: -8px 10px -8px 0px;
}

.footMenu li a {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00acf2;
    text-decoration: none;

}

.footMenu span {
    display: inline-block;
    background-color: rgba(37, 49, 62, 0.89);
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    margin-right: 10px;
}

.link1 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #a3a3a3;
    text-decoration: none;
}

.footCont [class*="icon"] {
    font-size: 20px;
    color: #ffffff;
}

.footCont .icon-message {
    font-size: 15px;
}

.link2 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #00a9f1;
    text-decoration: none;
}

.footCont span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #a3a3a3;
}

.footCont [class*="icon"] {
    padding-right: 15px;
}

.footBlock2 .invisLink > a {
    width: 70%;
}

.footLogo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.footLogo span + span {
    display: block;
}

.footLogo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 800;
}

.footLogo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

.footLogo .textLogo {
    display: inline-block;
}

.copyright {
    display: inline-block;
}

.social {
    display: inline-block;
}

.social [class*=icon] {
    padding-right: 25px;
}

footer .logo .colorLogo1 {
    font-size: 38px;
    line-height: 15px;
    color: #191919;
    font-weight: 800;
}

footer .logo .colorLogo2 {
    font-size: 38px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

footer .logo span {
    font-size: 13px;
    line-height: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.copyright span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #5a6062;
}

.social [class*="icon"] {
    font-size: 20px;
    color: #00acf2;
    text-decoration: none;
}

.aboutCompany {
    text-align: center;
    padding-top: 140px;
}

.caption1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.aboutCompany .caption1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    width: 515px;
    margin: 0px 325px;
}

.history {
    padding-top: 150px;
}

.hist {
    float: left;
    width: 50%;
}

.hist p {
    margin-top: 5px;
}

.hist2 {
    float: left;
    width: 100%;
    padding: 30px 0px 150px;
}

.historyComp .hist img {
    width: 570px;
    height: 380px;
    margin-top: 96px;
}

.providedServ {
    padding: 145px 0px;
    background-position: 50% 50%;
    background-size: cover;
}

.titleProv h3 {
    color: #ffffff;
    text-align: center;
    position: relative;
}

.titleProv h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 81px;
    background-color: #ffcd20;
    position: absolute;
    bottom: -30px;
    left: 540px;
}

.typService {
    margin: 150px -15px;
    vertical-align: middle;
}

.typService li {
    display: block;
    float: left;
    width: 25%;
    padding: 0px 15px;
    text-align: center;

}

.typService li a {
    display: block;
    font-size: 19px;
    line-height: 98px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: #00b7ff;
    border: 2px solid #3d4f5e;
    height: 255px;
    padding-top: 50px;
}

.typService li a:hover {
    color: #ffcd20;
    opacity: 1;
}

.typService li a span {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    margin-left: 105px;
}

.ourAdvantages {
    padding: 150px 0px;
}

.titlAdvan {
    text-align: center;
    position: relative;
}

.titlAdvan h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 81px;
    background-color: #ffcd20;
    position: absolute;
    bottom: -30px;
    left: 540px;
}

.ourAdvan {
    float: left;
    width: 100%;
    padding-top: 135px;
}


.ourAdvan .advan1 {
    float: left;
    width: 25%;
}

.ourAdvan .advan1 {
    position: relative;
}

.typAdvan1 > span {
    padding-top: 115px;
    display: block;
}

.typAdvan1 {
    text-align: center;
}

.ourAdvan .advan1 > span {
    background-color: #ffcd20;
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 105px;
    background-repeat: no-repeat;
    background-position: center;
}

.executives {
    padding: 150px 0px 150px;
}

.exec1 {
    float: left;
    width: 50%;
}

.exec1 h3 {
    line-height: 45px;
}

.exec1 img {
    margin-top: 126px;
}

.exec2 {
    float: left;
    width: 50%;
}

.employees {
    margin-top: 75px;
}

.employ {
    margin: 0px -15px;
}

.emp {
    padding: 0px 15px;

    float: left;
    width: 33.3333%;
}

.empl {
    height: 300px;
    vertical-align: top;
    background-color: #f0f4f6;
    position: relative;
}

.empl::before {
    content: '';
    display: block;
    width: 35px;
    height: 30px;
    position: absolute;
    background-image: url(../img/png/empl.png);
    background-repeat: no-repeat;
    right: 30px;
    bottom: 0;
}

.employees p {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    padding: 40px 0px 0px 25px;
}

.textBlock4 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

.employ .empl {
    position: relative;
    display: block;
}

.typEmpl {
    display: block;
    padding: 40px 70px 0px 150px;
}

.employees .empl img {
    position: absolute;
    left: 25px;
    top: 25px;
}

.entrance {
    float: left;
    width: 100%;
}

.payments.payColor {
    background-color: #f0f4f6;
}

.leftEntrance {
    float: left;
    width: 30%;
    padding-left: 70px;
}

.imgEntrance {
    float: left;
    width: 70%;
    height: 1140px;
    background-position: center;
    background-repeat: no-repeat;
}

.titleEntrance {
    margin-top: 240px;
}

.leftEntrance .logo {
    width: 100%;
}

.formEntrance {
    margin-top: 130px;
}

.formEntrance .field input {
    height: 40px;
    width: 310px;
}

.formEntrance .form1 > label {
    display: inline-block;
    font-size: 11px;
}

.btnEntr {
    padding-top: 45px;
}

.btnEntr .btnColor3 {
    width: 310px;
    background: transparent;
    font-weight: 600;
}

.btnEntr .btnColor3:hover {
    border: 3px solid #ffcd20;
    color: #ffcd20;
}

.forgotPass {
    margin-top: 65px;
}

.forgotPass > a:nth-child(1),
.forgotPass > a:nth-child(2) {
    display: block;
    margin-bottom: 45px;
}

.forgotPass span {
    font-family: Roboto;
    font-size: 13px;
    line-height: 30px;
    font-weight: 800;
}

.checkin {
    float: left;
    width: 100%;
}

.form1 > label {
    font-family: Roboto;
    font-size: 13px;
    line-height: 30px;

}

.form1 > label a {
    font-family: Roboto;
    font-size: 13px;
    line-height: 30px;
    color: #00a9f1;
}

.service {
    text-align: center;
    padding-top: 140px;
    background-position: center;
    background-size: cover;
}

.service .caption1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    width: 400px;
    margin: 0px 380px;
}

.development {
    padding-top: 150px;
}

.indDev {
    float: left;
    width: 50%;
}

.indDev2 {
    float: left;
    width: 100%;
    padding: 30px 0px 150px;
}

.indDev img {
    width: 570px;
    height: 380px;
    margin-top: 96px;
}

.jobLots {
    padding: 150px 0px 140px;
}

.titleJob {
    text-align: center;
}

.princLots {
    float: left;
    width: 50%;
}

.princLots:first-child p:first-child {
    font-weight: 800;
}

.princLots span {
    font-weight: 700;
}

.prince {
    margin: 125px -19px 0px;
}

.prince .princLots {
    padding: 0px 19px;
}

.prince .princLots .textType {
    padding-bottom: 45px;
}

.lots {
    padding: 140px 0px 125px;
    background-size: cover;
    background-position: center;
}

.menuLots {
    margin: 0px -15px;
}

.menuLots li {
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
    padding: 0px 15px;

}

.menuLots li a {
    display: block;
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(22, 33, 45, 0.66);
    width: 270px;
    height: 75px;
    padding: 25px 0px;
    position: relative;
}

.menuLots li a span {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    position: absolute;
    top: 17px;
    left: 20px;
}



.descript {
    float: left;
    width: 50%;
}

.desc {
    margin: 0px 0px;
    border: 2px solid #4a6173;
}

.desc .descript {
    padding: 80px 30px;
}

.leftDesc .caption3 {
    color: #ffcd20;
}

.leftDesc {
    margin: 0px 0px 0px 30px;
}

.rightDesc .caption3 {
    color: #05a7e8;
}

.rightDesc {
    margin: 0px 30px 0px 0px;
}

.descLots {
    border: 2px solid #4a6173;
    margin: 0px 30px 30px;
}

.descLots .activeSlide {
    margin: 30px 15px 30px;
}


.descLots .slideCard {
    float: left;
    width: 33.3333%;
    padding: 0px 16px;
}

.menuLots1 li {
    display: inline-block;
    float: left;
    width: 33%;
    text-align: center;
    padding: 0px 30px;
}

.menuLots1 li:nth-child(3) {
    margin: 0px -17px;
}

.menuLots1 li a {
     display: block;
     text-decoration: none;
     font-size: 19px;
     font-weight: 800;
     text-transform: uppercase;
     color: #ffffff;
     background-color: rgba(22, 33, 45, 0.66);
     width: 335px;
     height: 75px;
     padding: 25px 0px;
 }

.menuLots1 li:nth-child(1) a,
.menuLots1 li:nth-child(3) a {
    display: block;
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(22, 33, 45, 0.66);
    width: 354px;
    height: 75px;
    padding: 25px 0px;
}

.lots1 .cardColor1,
.lots1 .cardColor5 {
    width: 140px;
}

.lots1 .card .cardButt a {
    width: 142px;
    margin-top: 10px;
}

.contact {
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 140px;
}

.contact .caption1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    width: 415px;
    margin: 0px 375px;
}

.usContact {
    padding: 150px 0px;
}

.formContact {
    float: left;
    width: 50%;
}

.formContact .form1 .field:nth-child(1) input,
.formContact .form1 .field:nth-child(2) input,
.formContact .form1 .field:nth-child(3) input {
    height: 40px;
}

.formContact .form1 .field:nth-child(3) input,
.formContact .form1 .field:nth-child(4) textarea {
    width: 570px;
}

.formContact .field button {
    background-color: transparent;
    display: block;
    width: 570px;
    margin-top: 45px;
}

.formContact .field button:hover {
    border: 3px solid #ffcd20;
    color: #ffcd20;
    opacity: 1;
}

.formContact .form1 .field:nth-child(1),
.formContact .form1 .field:nth-child(2) {
    display: inline-block;
}

.formContact .form1 .field:nth-child(2) {
    margin-left: 30px;
}

.formContact .form1 .field:nth-child(1) input,
.formContact .form1 .field:nth-child(2) input {
    display: inline-block;
    width: 268px;
}

.typesContact {
    float: left;
    width: 50%;

}

.typesContact .cont1 {
    float: left;
    width: 50%;
    margin-top: 30px;
}

.cont2 {
    padding: 20px;
    width: 100%;
}

.contacts {
    background-color: #f0f4f6;
    text-align: center;
    height: 210px;
    padding: 25px 25px 0px;
    vertical-align: middle;
    position: relative;
}

.contacts .caption5 {
    display: block;
    padding-top: 85px;
}

.contacts  span[style*="background"] {
    display: block;
    height: 55px;
    width: 55px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 35px;
    left: 92px;
}

.cont2 .contacts span[style*="world"] {
    display: block;
    height: 55px;
    width: 55px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 35px;
    left: 100px;
}

.cont2 .contacts span[style*="clock1"] {
    display: block;
    height: 55px;
    width: 55px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 35px;
    left: 100px;
}

.news {
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 140px;
}

.news .caption1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    width: 415px;
    margin: 0px 375px;
}

.newsCompany {
    padding: 145px 0px 165px;
}

.cardNews2 {
    background-color: #f0f4f6;
    padding: 40px;
    position: relative;
    margin-bottom: 30px;
}

.cardNews3 {
    display: block;
    padding-left: 430px;
}

.colNews .cardNews2 img {
    position: absolute;
    width: 370px;
    height: 220px;
    top: 63px;
}

.cardNews3 .btnColor3 {
    display: block;
    width: 135px;
    margin-top: 40px;
    line-height: 40px;
}

.cardNews3 .btnColor3:hover {
    border: 3px solid #ffcd20;
    color: #ffcd20;
}

.pagination {
    text-align: center;
    margin-top: 110px;
}

.pagination li {
    display: inline-block;
    border: 2px solid #e3eaee;
    height: 42px;
    width: 42px;
    text-align: center;
    padding-top: 7px;
}

.pagination li + li {
    margin-left: 10px;
}

.pagination li a {
    display: block;
    text-decoration: none;
    font-weight: 800;
    font-size: 19px;
    color: #495256;
}

header.mobile {
    display: none;
    position: relative;
    padding: 18px 0;
}

.mobileWrap {
    display: table;
    width: 100%;
}

.menuMobile {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}

.logMenuMobile {
    display: table-cell;
    width: 75%;
    text-align: right;
}

.menuMobile {
    cursor: pointer;
}

.menuMobile span {
    display: block;
    margin-bottom: 7px;
    height: 5px;
    width: 45px;
    background-color: #00acf2;
    border-radius: 2px;
}

.menuDropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.logMenuMobile .colorLogo1 {
    font-size: 25px;
    line-height: 15px;
    color: #191919;
    font-weight: 800;
}

.logMenuMobile .colorLogo2 {
    font-size: 25px;
    line-height: 15px;
    color: #00acf2;
    font-weight: 800;
}

.faq {
    text-align: center;
    padding-top: 140px;
    background-position: center;
    background-size: cover;
}

.faq h1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    width: 230px;
    margin: 0px 550px;
}

.regulations {
    padding: 150px 0px;
}

.infoRegul {
    margin: 40px 0px;
}

.infoRegul p {
    padding-left: 340px;
    font-size: 15px;
    line-height: 24px;
}

.accordion {
    position: relative;
}

.accordion .infoRegul img {
    position: absolute;
    left: 0;
    top: 90px;
}

.accordion span {
    font-size: 17px;
    line-height: 40px;
    color: #00adf1;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #e3eaee;
    width: 100%;
    margin-left: 46px;
    padding-left: 20px;
}

.accordion span:first-child {
    width: 46px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 0;
    left: -46px;
}

.cardRegul > div + div {
    margin-top: 15px;
}
